<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.workorder.mapper.DeviceInfoMapper">

    <resultMap id="DeviceInfoResult" type="com.ruoyi.workorder.domain.DeviceInfo">
        <id property="deviceId" column="device_id"/>
        <result property="deviceCode" column="device_code"/>
        <result property="deviceName" column="device_name"/>
        <result property="deviceModel" column="device_model"/>
        <result property="location" column="location"/>
        <result property="status" column="status"/>
        <result property="purchaseTime" column="purchase_time"/>
        <result property="price" column="price"/>
        <result property="responsibleBy" column="responsible_by"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectDeviceInfoVo">
        SELECT device_id, device_code, device_name, device_model, location, status,
               purchase_time, price, responsible_by, remark, create_by, create_time,
               update_by, update_time
        FROM device_info
    </sql>

    <select id="selectDeviceInfoList" parameterType="com.ruoyi.workorder.domain.DeviceInfo" resultMap="DeviceInfoResult">
        <include refid="selectDeviceInfoVo"/>
        <where>
            <if test="deviceCode != null and deviceCode != ''">
                AND device_code LIKE CONCAT('%', #{deviceCode}, '%')
            </if>
            <if test="deviceName != null and deviceName != ''">
                AND device_name LIKE CONCAT('%', #{deviceName}, '%')
            </if>
            <if test="deviceModel != null and deviceModel != ''">
                AND device_model LIKE CONCAT('%', #{deviceModel}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="responsibleBy != null and responsibleBy != ''">
                AND responsible_by = #{responsibleBy}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                AND create_time &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                AND create_time &lt;= #{params.endTime}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectDeviceInfoById" parameterType="Long" resultMap="DeviceInfoResult">
        <include refid="selectDeviceInfoVo"/>
        WHERE device_id = #{deviceId}
    </select>

    <insert id="insertDeviceInfo" parameterType="com.ruoyi.workorder.domain.DeviceInfo" useGeneratedKeys="true" keyProperty="deviceId">
        INSERT INTO device_info (
            <if test="deviceCode != null and deviceCode != ''">device_code,</if>
            <if test="deviceName != null and deviceName != ''">device_name,</if>
            <if test="deviceModel != null and deviceModel != ''">device_model,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="purchaseTime != null">purchase_time,</if>
            <if test="price != null">price,</if>
            <if test="responsibleBy != null and responsibleBy != ''">responsible_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        ) VALUES (
            <if test="deviceCode != null and deviceCode != ''">#{deviceCode},</if>
            <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
            <if test="deviceModel != null and deviceModel != ''">#{deviceModel},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="purchaseTime != null">#{purchaseTime},</if>
            <if test="price != null">#{price},</if>
            <if test="responsibleBy != null and responsibleBy != ''">#{responsibleBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            SYSDATE()
        )
    </insert>

    <update id="updateDeviceInfo" parameterType="com.ruoyi.workorder.domain.DeviceInfo">
        UPDATE device_info
        <set>
            <if test="deviceCode != null and deviceCode != ''">device_code = #{deviceCode},</if>
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="deviceModel != null">device_model = #{deviceModel},</if>
            <if test="location != null">location = #{location},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="purchaseTime != null">purchase_time = #{purchaseTime},</if>
            <if test="price != null">price = #{price},</if>
            <if test="responsibleBy != null">responsible_by = #{responsibleBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = SYSDATE()
        </set>
        WHERE device_id = #{deviceId}
    </update>

    <delete id="deleteDeviceInfoById" parameterType="Long">
        DELETE FROM device_info WHERE device_id = #{deviceId}
    </delete>

    <delete id="deleteDeviceInfoByIds" parameterType="Long">
        DELETE FROM device_info WHERE device_id IN
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>

</mapper>